<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233256280542-okg0114giv2pb5bfb5p5ll69vbm547nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233256280542-okg0114giv2pb5bfb5p5ll69vbm547nh</string>
	<key>API_KEY</key>
	<string>AIzaSyAiVoioEMYKU04fsHcWFfLkLsiz8TyTi44</string>
	<key>GCM_SENDER_ID</key>
	<string>233256280542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kudoayana.Goods2</string>
	<key>PROJECT_ID</key>
	<string>goods-appbase</string>
	<key>STORAGE_BUCKET</key>
	<string>goods-appbase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233256280542:ios:608031ae9386b554</string>
	<key>DATABASE_URL</key>
	<string>https://goods-appbase.firebaseio.com</string>
</dict>
</plist>